/Practice/local_homework_working_copy/__pycache__
/Practice/local_homework_working_copy/models/sttr/__pycache__
/Practice/local_homework_working_copy/checkpoints
/Practice/local_homework_working_copy/wandb
/Practice/local_homework_working_copy/data