/Practice_LOCAL_COPY/__pycache__
/Practice_LOCAL_COPY/models/sttr/__pycache__
/Practice_LOCAL_COPY/checkpoints
/Practice_LOCAL_COPY/wandb
/Practice_LOCAL_COPY/data
/Practice_LOCAL_COPY/images

**/__pycache__/